@model SOFTWARE1_PROYECTO.Models.Producto

@{
    ViewData["Title"] = "Usuario";
}
<div class="container">
<div class="row">
    <div class="col-md-4">  
        <h1 class="display-4">Editar Libro</h1>
        <form asp-controller="Producto" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            
            <div class="form-group">
                <label asp-for="product" class="control-label"></label>
                <input asp-for="product" class="form-control" />
                <span asp-validation-for="product" class="text-danger"></span>
            </div>                  
                   
            <div class="form-group">
                <label asp-for="color" class="control-label"></label>
                <input asp-for="color" class="form-control" />
            </div>               
              <div class="form-group">
                <label asp-for="tallas" class="control-label"></label>
                <input asp-for="tallas" class="form-control" />
            </div>      
              <div class="form-group">
                <label asp-for="sexo" class="control-label"></label>
                  <input  asp-for="sexo" type="radio" name="sexo" value="1">Masculino 
                  <input  asp-for="sexo" type="radio" name="sexo" value="2">Femenino 
            </div>      
              <div class="form-group">
                <label asp-for="cantidad" class="control-label"></label>
                <input asp-for="cantidad" class="form-control" />
            </div>      
              <div class="form-group">
                <label asp-for="modelo" class="control-label"></label>
                <input asp-for="modelo" class="form-control" />
            </div>      
             
            <div class="form-group">
                 <button class="btn btn-primary" type="submit" >Actualizar</button> 
            </div>                

        </form>
            
        <td>@Html.DisplayTextFor(model => model.Respuesta)</td>    
    
    </div>
</div>
</div>